GOOGLE_MAPS_API_KEY=
OVERPASS_API_URL=https://overpass-api.de/api/interpreter
SUPABASE_URL=https://epitnyfwlejcobmfaara.supabase.co
SUPABASE_ANON_KEY=sb_publishable_aWn8dPMi3XmM_ktom8xKnw_T-utOWV5

OUTPUT_DIR=./output
DEFAULT_CITY=Nice-Antibes

MIN_RATING=4.0
MIN_REVIEW_COUNT=30
